@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-i .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
}
#msg-box4-m .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box4-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-m .mbr-article {
  color: #ffffff;
}
#msg-box4-m .mbr-article DIV {
  font-size: 20px;
}
#slider-n P {
  text-align: right;
  font-size: 20px;
  color: #222222;
}
#slider-n H1 {
  color: #28324e;
}
#slider-n B {
  font-size: 25px;
  color: #000000;
}
